env # Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*
venv
.venv
venv/

# IDE
.vscode/
.idea/
idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Testing
.coverage
htmlcov/
.pytest_cache/

# MyPy
.mypy_cache/

# PyCharm
*.iml

# VS Code
.history/

# Mac
.AppleDouble